ip: 192.168.10.10
memory: 2048
cpus: 1
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa
folders:
    -
        map: /Users/pane/Documents/Sites/example
        to: /home/vagrant/Code/example
sites:
    -
        map: example.app
        to: /home/vagrant/Code/example/public
databases:
    - homestead
name: example
hostname: example
