/*RESET CSS BEGIN*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Lato', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*RESET CSS END*/


/*HELPER CLASS BEGIN*/

img {
    max-width: 100%;
    height: auto;
}

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

p,
ul li,
ol li {
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 20px 0;
}

ul li,
ol li {
    margin-bottom: 10px;
}

.clearfix {
    clear: both;
}

a {
    color: #e25626;
}

a:hover {
    color: #ce4719;
}

/*HELPER CLASS END*/

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}
.dropdown-holder.row {
    margin: 0 !important;
}

.text-black {
    color: #484848;
}
header {
    position: relative;
    width: 100%;
    background: white;
    color: #484848;
    padding-top: 15px;
}
.logo {
    max-width: 200px;
}
section.hero .container, section.listing .container, section.error {
    padding: 70px 15px;
}
.container {
    margin-bottom: 25px;
}
.nav-wrapper {
    max-width: 1130px;
    margin: auto;
    position: relative;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 0px;
}

nav ul li a {
    font-size: 17px;
    line-height: 22px;
    text-decoration: none;
    color: #484848;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding-bottom: 3px;
    cursor: pointer;
}

body.menu-is-active .menu-trigger {
    display: none;
}
/*NAVIGATION BAR END*/



/* HERO SECTION */

h1 {
    font-size: 45px;
    line-height: 50px;
    margin: 0 auto;
    display: block;
    margin-bottom: 25px;
    color: #e25626;
    font-weight: 300;
}

h1.title-heading {
    color: #e25626;
    padding: 0 10px;
    font-size: 28px;
    line-height: 33px;
}

h2 {
    font-size: 20px;
    line-height: 30px;
    color: white;
    margin-bottom: 35px;
    font-weight: 300;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

section.hero {
    background-color: white;
}

.dropdown button {
    width: 100%;
    outline: none !important;
}

.btn-find {
    width: 100%;
    background: transparent;
    border: 1px solid #e25626;
    color: #e25626;
    transition: 0.3s;
}

.btn-find:hover {
    background: #ce4719;
    color: white;
    border: 1px solid #e25626;
}

.dropdown-holder:not(.transparent) div {
    margin: 7.5px 0;
}

.dropdown-holder:not(.transparent) {
    border-radius: 4px !important;
    border: 1px solid #DBDBDB !important;
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.08) !important;
    padding: 25px;
}

.daterangepicker td.active {
    background-color: #e25626;
}

.dropdown-holder input, 
.dropdown-holder .bootstrap-select,
.dropdown-holder .bootstrap-select button,
.bootstrap-select.btn-group .dropdown-menu li,
.bootstrap-select > .dropdown-toggle.bs-placeholder, 
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover, 
.bootstrap-select > .dropdown-toggle.bs-placeholder:active,
.open>.dropdown-toggle.btn-default,
.open>.dropdown-toggle.btn-default:hover {
    border: none !important;
    box-shadow: none !important;
    padding-left: 0px !important;
    background: white;
    max-width: 100%;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder:focus, 
.bootstrap-select.btn-group .dropdown-menu li a:focus,
.bootstrap-select.btn-group .dropdown-menu li:focus,
.dropdown-holder .bootstrap-select button:focus {
    outline:0px !important;
    -webkit-appearance:none;
    background: white;
    border: none !important;
}

.gallery-section {
    width:100%;
    height:250px;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    margin-top:0px;
}

.gallery-section img{
    flex-shrink:0;
    -webkit-flex-shrink: 0;
    max-width:95%;
    max-height:95%;
}

.small {
    font-size: 12px;
}

.form-error {
    font-size: 12px;
    color: red;
    line-height: 15px;
    margin: 10px 0 0 0;
}

.listingform .heading {
    margin: 50px 0 30px;
}

.listingform h1 {
    font-size: 30px;
}

.heading .cta {
    text-align: right;
}

.listingform .form-group {
     margin-right: 0; 
     margin-left: 0; 
}

.gallery-section.booked {
    position: relative;
}

.gallery-section.booked img:before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000;
}

.label.booked {
    float: right;
    padding: 10px 20px;
    font-size: 100%;
}

.gallery-section .label-booked {
    display: none;
    background-color: #e25626;
    position: absolute;
    top: 5%;
    right: 5%;
    padding: 10px 20px;
    font-size: 100%;
}

.gallery-section.booked .label-booked {
    display: inline-block;
}

.text-center {
    text-align: center;
}

.listing-images {
    padding: 20px 0;
}

.listing-images .img-wrap {
    margin-right: 20px;
    display: inline-block;
    position: relative;
}

.listing-images .img-wrap .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(226, 86, 38);
    display: none;
}

.listing-images .img-wrap:hover .overlay, .listing-images .img-wrap:hover a {
    display: block;
}

.listing-images .img-wrap a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 30px;
    display: none;
}

.listing-images .img-wrap img {
    max-width: 150px;
}
/* ACTIVE PLACES SECTION */
section.active-places .row {
    padding: 50px 10px;
    text-align: center;
}

h3.listing-author {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 10px;
}

a:hover {
    color: #ce4719;
    text-decoration: none;
}

a.become-a-host-btn, .btn-orange {
    background: #e25626;
    padding: 10px 15px;
    width: 100%;
    max-width: 150px;
    border-radius: 3px;
    transition: all 0.3s;
    color: white;
}

.btn-orange-inverse {
    background-color: transparent;
    border: 1px solid #e25626;
    color: #e25626;
}

a.become-a-host-btn:hover, .btn-orange:hover, .btn-orange-inverse:hover {
     background: #ce4719;
     color: white;
     text-decoration: none;
}

.close-listing {
    font-size: 25px;
}

.close-listing i {
    top:5px;
}

.form-group label {
    margin: 20px 0;
}

a.link-item {
    color: #2d2829;
    transition: all 0.3s;
}

a.link-item:hover {
    color: #e25626;
}

.link-item div {
    margin: 25px auto 0;
    display: block;
}

.btn-success {
    background: #e25626 !important;
    border: 1px solid #e25626 !important;
}

button.dropdown-toggle:focus,
button.dropdown-toggle:active {
     border: 1px solid #e25626 !important;
     outline: none;
     -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}



/* FAQ SECTION START*/

h1.h1-faq {
    color: #e25626;
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 33px;
}

.about .faq-single:first-child {
    border: none;
}

h5.faq-title {
    margin-bottom: 7px;
    padding-right: 25px;
    cursor: pointer;
    position: relative;
    font-size: 22px;
    line-height: 37px;
}

.faq-title:before {
    position: absolute;
    content: "";
    background: url("../images/plus.png");
    width: 20px;
    height: 20px;
    left: -50px;
    top: 8px;
    transition: all 0.3s;
}

.faq-title.active {
    color: #e25626;
    transition: 0.3s;
}

.faq-title.active:before {
    transform: rotate(-180deg);
    content: "";
    width: 25px;
    left: -50px;
    height: 25px;
    background: url("../images/minus.png");
}

.faq-toggle {
    display: none;
}

.faq-single {
    padding-top: 25px;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid #e3e6e8;
    border-left: 0;
    border-right:  0;
    margin-top: -1px;
}

.faq-toggle a {
    text-decoration: underline;
}

.faq-content {
    padding: 10px 0;
}

.faq-section {
    padding: 50px 10px;
}
/* FAQ SECTION END */





/* FOOTER START */
footer {
    display: flex;
    align-items: center;
    align-content: center;
}

footer .row {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}
footer ul.links-nav {
    -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-width: 25%;
     -moz-column-width: 25%;
          column-width: 25%;
    -webkit-column-gap: 0.5em;
       -moz-column-gap: 0.5em;
            column-gap: 0.5em;
}
/* FOOTER END */


/* SINGLE LISTINGS PAGE START */

h1.h1-single-listing {
    color: #484848;
    margin: 25px auto;
    display: block;
    text-align: center;
}

span.listing-creator {
    display: block;
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

.single-listing-details span {
    display: block;
}

.listing-creator {
    padding: 0 15px !important;
}

.single-listing-details span p {
    margin: 0;
}

.single-listing-details span {
    margin-bottom: 25px;
}

section.similar-places h2 {
    font-size: 30px;
    line-height: 35px;
    color: #484848;
    padding: 0 15px;
}

section.similar-places {
    margin: 30px 0;
}
.dropdown-menu>li>a {
    white-space: normal;
}
.dropdown-menu>li>a:hover {
    background-color: transparent;
    background-image: none;
    color: #ce4719;
}
body.single-listing .row {
    margin: 30px 0;
}
.btn-send {
    background: #e25626;
    border: 1px solid #e25626;
}
.btn-send:hover {
    background: #e25626;
     border: 1px solid #e25626;
}
.form-control:focus {
    border-color: #e25626 !important;
    box-shadow: inset 0 1px 1px rgba(226, 86, 38, .2), 0 0 8px rgba(226, 86, 38, .2);
}
.dropdown-holder .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    line-height: 25px;
}
.dropdown-holder input.form-control, .btn-find {
    height: 39px !important;
}
.dropdown-holder .dropdown .bootstrap-select {
    margin: 0px !important;
}
.listing h2 {
    color: #e25626;
    margin-bottom: 5px;
    font-size: 28px;
}
.listing .heading {
    margin-bottom: 15px;
    display: block;
}
.heading .by div{
    display: inline-block;
    line-height: 26px;
}
.heading .by .img {
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-transform: translate(0px, 13px);
    -webkit-transform: translate(0px, 13px);
    transform: translate(0px, 13px);
}
.listing-details .details h5{
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 22px;
    font-weight: 400px;
}
.listing-details .details p{
    font-size: 17px;
    line-height: 24px;
}
.facebook, .facebook:hover {
    background-color: #3b5999;
    border: 2px solid #3b5999;
    color: #fff;
    width: 100%;
    height: 40px;
    padding-top: 2%;
    margin-top: 2%;
}
.details span {
    color: #e25626;
}
.modal-footer .btn-orange {
    line-height: 14px;
}

/* GENERAL SMALL VISUAL FIXES */
section.active-places .row {
    padding: 0px 10px 25px;
}

.heading .by .img {
    margin: 0 5px;
}

section.listing .container {
    padding: 70px 15px 0;
}

footer ul.links-nav {
    display: flex;
    justify-content: space-around;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: initial !important;
  }


/* MEDIA QUERIES / RESPONSIVENESS START */

/* RESPONSIVE MENU START*/

@media (min-width: 1200px) {
    .container {
    width: 1140px !important;
}

}

@media only screen and (max-width: 950px) {
    .menu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: 270px;
        background: #131313;
        -webkit-transform: translate3d(-200%, 0, 0);
        transform: translate3d(-200%, 0, 0);
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        z-index: 99999;
    }
    
    .menu li {
        display: block;
        margin-top: 20px;
        padding: 0;
        padding-bottom: 20px;
    }

    .menu>li>a {
        color: white;
    }

    .menu li a:hover {
        border-color: transparent;
    }

    .menu-is-active .menu {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        display: block;
        padding: 0px 15px;
    }

    .main-overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.72);
        z-index: 5;
        display: none;
    }

    .main-overlay:after {
        content: '';
        display: block;
        background: url('../images/close-icon.svg') no-repeat center center;
        background-size: cover;
        width: 35px;
        height: 35px;
        position: fixed;
        right: 10px;
        top: 10px;
        z-index: 999;
    }

    .menu-is-active .main-overlay {
        display: block;
    }

    .menu-trigger {
        background: url('../images/hamburger-icon.svg') no-repeat center;
        background-size: cover;
        display: block;
        width: 35px;
        height: 35px;
        position: absolute;
        right: 10px;
        top: 25px;
        z-index: 10;
    }

    .link-item>div {
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }
}

@media only screen and (max-width: 768px) {
    section.hero .container {
        padding: 25px 15px;
    }

    h1 {
        font-size: 30px;
        line-height: 35px;
    }

    h2 {
        font-size: 18px;
        line-height: 27px;
    }

    .link-item div {
        text-align: center;
    }

    .links-group, .supportedBy {
        margin-bottom: 10px;
    }

    .heading .btn, .heading .label {
        margin-top: 15px;
    }

    .heading .cta {
        text-align: center;
    }

}
